name: Deploy to EC2

on:
  push:
    branches:
      - main   # change if needed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Log EC2 details
        run: |
          echo "EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}"
          echo "EC2_USERNAME: ${{ secrets.EC2_USERNAME }}"
          echo "EC2_HOST: ${{ secrets.EC2_HOST }}"

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} '
            cd /var/www/node-app
            git pull origin main
            npm install
            pm2 restart all
          '
